

<div class="container">


<div class="row">
<div class="col-lg-9">
<h1>Lista de Videos Conciertos Comentados</h1>
 
</div>
<div class="col-lg-2">

 <%= link_to 'Nuevo Pin de Youtube', new_pin_path, class:"btn btn-info  " %>

</div>
</div>
  
<div class="row">
    <% @pins.each do |pin| %>

    <div class="col-sm-3 col-md-3 pull-left">
    <div class="thumbnail">
      <img src="https://i.ytimg.com/vi/<%= pin.photo %>/mqdefault.jpg" alt="Foto" class="img-responsive">
      <div class="caption">
        <h4 style="text-transform:uppercase">CC: <%= truncate(pin.title , :length => 20) %> </h4>
        <p>
       <%= truncate(pin.description , :length => 140) %>

        </p>
        <p><%= pin.user_id %></p>
        <p>
        <%= link_to 'Ver', pin, :class => 'btn btn-danger btn-sm' %>
        <%= link_to 'Editar', edit_pin_path(pin), :class => 'btn btn-danger btn-sm' %>
        <%= link_to 'Borrar', pin, method: :delete, data: { confirm: 'Estas Seguro de Borrar?' }, :class => 'btn btn-danger btn-sm' %>
         
        </p>
      </div>
    </div>
  </div>


 
    <% end %>
 
</div>






<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title"> Videos Destacados </h1>
  </div>
  <div class="panel-body">
           <% @pinsDestacados.each do |pin| %>

    <div class="col-sm-4 col-md-4 pull-left">
    <div class="thumbnail">
      <img src="https://i.ytimg.com/vi/<%= pin.photo %>/mqdefault.jpg" alt="Foto" class="img-responsive">
      <div class="caption">
        <h4><%= pin.title %> </h4>
        <p>destacado: <%= pin.destacado %></p>
        
      </div>
    </div>
  </div>


 
    <% end %>
  </div>
</div>
 




</div>