<p id="notice"><%= notice %></p>

<p>
  <strong>Org:</strong>
  <%= @person.org %>
</p>

<p>
  <strong>Name:</strong>
  <%= @person.name %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', org_people_path %>
