<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @org.name %>
  <br/>
  <%= link_to 'Edit', edit_org_path(@org) %> |
  <%= link_to 'Back', orgs_path %>
</p>

<table>
  <thead>
    <tr>
      <th>Events</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td><%= link_to 'Show', org_event_path(@org, event) %> /</td>
        <td> <%= link_to 'Edit', edit_org_event_path(@org, event) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Add Event", new_org_event_path(@org) %>
<br/><br/>

<table>
  <thead>
    <tr>
      <th>People</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= person.event_id %></td>
        <td><%= person.name %></td>
        <td><%= link_to 'Show', org_person_path(@org, event) %> /</td> 
        <td> <%= link_to 'Edit', edit_org_person_path(@org, event) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Add Person", new_org_person_path(@org) %>
<br/><br/>


