<p id="notice"><%= notice %></p>



<div class="container">




<div class="row">

      <div class="col-lg-12">
      <h1>Company name: <%= @org.name %></h1>
       
      </div>

      <div class="col-lg-2">

      <%= link_to 'Edit', edit_org_path(@org), class:"btn btn-small " %> |
      <%= link_to 'Back', orgs_path, class:"btn  btn-small  " %>
       
      </div>

  </div><!-- //ROW-->


<div class="row">


<div class="col-lg-12">
    <h1>My Events: </h1>
    <p><%= link_to "Add Event", new_org_event_path(@org),  class:"btn btn-success pull-right" %>
</p>
</div>

</div>


<div class="row">
    <div class="col-lg-12">

    <% @events.each do |event| %>
           

            <div class="col-sm-3 col-md-3 pull-left ">
           <h3> <%= event.name %> </h3>
            <%= link_to 'Show', org_event_path(@org, event) %> / 
              <%= link_to 'Edit', edit_org_event_path(@org, event) %> 
           </div>
     
        <% end %>
      
    </div>
</div><!-- ROW-->

 

<div class="row">
<div class="col-lg-12">
    <h1>People: </h1>
    <%= link_to "Add Person", new_org_person_path(@org),  class:"btn btn-success pull-right" %>

 
</div>

<div class="col-lg-12">


<table>
   
  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><strong><%= person.event_id %></strong></td>
        <td><%= person.name %></td>
        <td><%= link_to 'Show', org_person_path(@org, person) %> / </td> 
        <td><%= link_to 'Edit', edit_org_person_path(@org, person) %> / </td>
        <td><%= link_to 'Email Reminder', "mailto:#{person.email}?Subject=Bring%20Your%20Cup!&Body=Remember%20to%20bring%20your%20cup%20#bringyourcup", target: "_top" %> / </td>
        <td><%= link_to 'Tweet Reminder', "https://twitter.com/intent/tweet?screen_name=#{person.twitter}&text=Remember%20to%20bring%20your%20cup!", class: "twitter-mention-button", target: "_top" %> </td>
        <script type="text/javascript">
        window.twttr=(function(d,s,id){var t,js,fjs=d.getElementsByTagName(s)[0];if(d.getElementById(id)){return}js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);return window.twttr||(t={_e:[],ready:function(f){t._e.push(f)}})}(document,"script","twitter-wjs"));
        </script>
      </tr>
    <% end %>
  </tbody>
</table>


</div>





</div>



</div><!-- container -->

 
  