<p id="notice"><%= notice %></p>

<h1><%= @event.name %></h1>
<%= link_to 'Edit', edit_org_event_path(@org, @event) %> |
<%= link_to 'Back', org_events_path %>
<br/><br/>

<% @people.all.each do |p| %>
  <%= p.name %><br/>
  <div class="icon-area" data-name="<%= p.name %>"></div>
  <span id="fame" class="wall" name="<%= p.name %>">Fame</span> /
  <span id="shame" class="wall" name="<%= p.name %>">Shame</span>
  <br/><br/>
<% end %>

<script>
$(function() {
  var shame_image = "<img src='/assets/bad1.jpg' height='100' width='100'>";
  var fame_image = "<img src='/assets/good1.jpg' height='100' width='100'>";
  $(".wall").click(function() {
    console.log("running...");
    var status = $(this).attr("id");
    var name = $(this).attr("name");
    if (status === "fame") {
      $(".icon-area[data-name='" + name + "']").html(fame_image);
    } else if (status === "shame") {
      $(".icon-area[data-name='" + name + "']").html(shame_image);
    }
  });
});
</script>
<style>
  .wall {
    cursor: pointer;
    text-decoration: underline;
    color: blue;
  }
</style>